#workout-table {
    font-size: 0.8em;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: 900;
    font-family: "Courier New", monospace;
    font-size: 2em;
    padding-left: 0.3em;
}

.nav-item-right {
    color: #FFFFFF;
}

.form-select {
    font-size: 0.8em; 
    min-width: 15em;
    max-width: 20em;
}

.muscle-filter {
    min-width: 11em;
    max-width: 15em;
}

.form-control-sm {
    text-align: center;
    font-size: 0.8em; 
    min-width: 3em;
    max-width: 5em;
}

.rep-input {
    text-align: center;
    min-width: 5em;
    max-width: 7em;
}