#workout-table {
    font-size: 0.8em;
}

.navbar-brand {
    color: #FFFFFF;
    font-weight: 900;
    font-family: "Courier New", monospace;
    font-size: 2em;
    padding-left: 0.3em;
}

.nav-item-right {
    color: #FFFFFF;
}

.form-select {
    font-size: 0.8em; 
    min-width: 12em;
    max-width: 15em;
}