{% extends "layout.html" %}

{% block body %}
    <div class="row" style="min-height: 500px;">
        <div class="col-lg-2 border-end border-dark bg-primary">
            <div class="container pt-5">
                <div class="container leading-text">
                    <h7>Muscles worked<h7>
                </div>
                <div class="container">
                    <table class="table table-hover table-stripped text-center table-bordered table-sm table-light" id="muscles_table">
                        <thead>
                            <tr>
                                <th>Muscle</th>
                                <th>Working sets</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for muscle in muscle_set %}
                            <tr>
                                <td class="muscle-worked">{{muscle}}</td>
                                <td>{{ muscle_set[muscle] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="col-lg-10 bg-light ps-0">
            <div class="container pt-5 ps-0 pb-5">
                <div class="container leading-text">
                    Click to add an exercise
                </div>
                <div class="container pt-2">
                    <table class="text-center table table-hover table-striped border small-text" id="workout-table">
                        <thead>
                        <tr>
                            <th>Filter</th>
                            <th>Exercise</th>
                            <th>Muscle(s) worked</th>
                            <th>Warm up sets</th>
                            <th>Working sets</th>
                            <th>Reps</th>
                            <th>Progression scheme</th>
                            <th>Video Link</th>
                            <th>Delete row</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                    <button onclick="addRowToTable()" class="btn btn-success">Add exercise</button>
                    <button class="btn btn-warning" onclick="createWorkoutExcel()">Download workout</button>

                </div>
            </div>
        </div>  
    </div>
{% endblock %}