{% extends "layout.html" %}

{% block body %}
    <div class="row" style="min-height: 500px;">
        <div class="col-md-3 border-end border-dark bg-primary">
            <div class="container pt-5">
                <div class="container leading-text">
                    Here is the muscles worked table
                </div>
                <div class="container pt-2">
                    <table class="table table-hover table-stripped table-dark text-center">
                        <thead>
                            <tr>
                                <th>Muscle</th>
                                <th>Sets per week</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pecs</td>
                                <td class="bg-success">1</td>
                            </tr>
                            <tr>
                                <td>Quads</td>
                                <td class="bg-warning">5</td>
                            </tr>
                            <tr>
                                <td>Quads</td>
                                <td class="bg-danger">5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="col-md-9 bg-light">
            <div class="container pt-5">
                <div class="container leading-text">
                    This is the leading text to the workout generator table
                </div>
                <div class="container pt-2">
                    <table class="table table-hover table-striped border">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <form action="/action_page.php">
                                  <select class="form-select" id="sel1" name="sellist1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                  </select>
                                </form></td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}