{% extends "layout.html" %}

{% block body %}
    <div class="row" style="min-height: 500px;">
        <div class="col-lg-2 border-end border-dark bg-primary">
            <div class="container pt-5">
                <div class="container leading-text">
                    Here is the muscles worked table
                </div>
                <div class="container pt-2">
                    <table class="table table-hover table-stripped table-dark text-center" id="muscles_table">
                        <thead>
                            <tr>
                                <th>Muscle</th>
                                <th>Sets per week</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for muscle in muscle_set %}
                            <tr>
                                <td>{{muscle}}</td>
                                <td>0</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="col-lg-10 bg-light">
            <div class="container pt-5">
                <div class="container leading-text">
                    This is the leading text to the workout generator table
                </div>
                <div class="container pt-2">
                    <table class="text-center table table-hover table-striped border" id="workout-table">
                        <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Muscle(s) worked</th>
                            <th>Warm up sets</th>
                            <th>Working sets</th>
                            <th>Reps</th>
                            <th>Progression scheme</th>
                            <th>Video Link</th>
                            <th>Delete row</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr draggable="true">
                                <td>
                                    <select class="form-select" id="sel1" name="sellist1">
                                        <option>Bench Press</option>
                                        <option>Deadlifts</option>
                                        <option>Squats</option>
                                        <option>Overhead Press</option>
                                    </select>
                                    </form>
                                </td>
                                <td>Biceps</td>
                                <td>2</td>
                                <td>4</td>
                                <td>6-8</td>
                                <td>Linear progression</td>
                                <td><a href="https://youtu.be/bEv6CCg2BC8?si=MqfxOisM7fd2ptcY">Link</a></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <button onclick="addRowToTable()">Add exercise</button>
                </div>
            </div>
        </div>  
    </div>
{% endblock %}